h1{
    color: blueviolet;
}
.blue  {
    color: blue;
}
.black{
    color: black;
}
.box{
    height: 100px;
    width: 10% ;  
    padding: 20px;
    margin: 10px;
    border: 10px solid black;
    background-color: rgb(93, 206, 28);
}